<%- include('../partials/header.ejs')%>
<%- include('../partials/navbaril.ejs')%>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Olá <%= user.name%>!</h1>
            </div>
            <div class="card-body">
               <h3>Seja bem vindo a plataforma!</h3>
            </div>
        </div>
    </div>
</body>

<%- include('../partials/footer.ejs')%>